################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS/.vs/IoTHubClients/v15/Server/sqlite3
